main{
    width: 100%;
    margin-top: 40px;
    .main__form{
        margin-top: .2rem;
        margin-bottom: 5rem;
        padding: 10px;
    }
    img{
        max-width: 100%;
    }
    .main__h1{
        height: fit-content;
        font-family: Poppins;
        font-weight: 900;
        font-size: 2rem;
        letter-spacing: -0.01em;
        line-height: 40px;
        text-align: center;
        color: #1e1c24;
        margin-top: 1rem;
        padding: 5px;
    }
    .main__p{
    height: fit-content;
    font-family: Muli;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #b1aaaa;

    }
    form{
        height: fit-content;
        background: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        .form__email{
            width: 220px;
            height: 40px;
            border-radius: 38.5px;
            background: transparent;
            border: 2px solid #ebebeb;
            margin: 0 auto;
            margin-top: 1rem;
            text-align: center;
        }
        .form__button{
            width: 170px;
            height: 50px;
            border-radius: 38.5px;
            background: #525ffb;
            margin-top: 1rem;
            span{
                font-family: Poppins;
                font-weight: 600;
                font-size: 15px;
                letter-spacing: 0.04em;
                line-height: 10px;
                text-align: center;
                color: #fff;
            }
        }
    }
}
.section-1{
    h1{
        height: fit-content;
        font-family: Poppins;
        font-weight: 900;
        font-size: 2rem;
        letter-spacing: -0.01em;
        line-height: 40px;
        text-align: center;
        color: #1e1c24;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .block{
        width: 100%;
        height: 500px;
        background: transparent;
        border-radius: 11px;
    }
    .block__1{
        background: #525ffb;
        display: flex;
        flex-direction: column;
        align-items: center;
        .block__1__img{
            background-image: url('../img/day80-tea.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom;
            max-width: 100%;
            width: 250px;
            height: 250px;
            margin-top: 1rem;
        }
        h3{
            font-family: Poppins;
            font-weight: normal;
            font-size: 25px;
            line-height: 40px;
            text-align: center;
            color: #fff;
            margin-bottom: 1rem;
        }
        p{
            height: 78px;
            font-family: Muli;
            font-weight: bold;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            color: #fff;
            margin-bottom: 2rem;
            padding: 5px
        }
    }
    .block__2{
        @extend .block__1;
        background: #e9f0ff;
        margin-top: 2rem;
        .block__2__img{
           @extend .block__1__img;
           background-image: url('../img/day78-wallet.png');
        }
        h3{
            @extend .block__1, h3;
            color: #1e1c24;
            background: #e9f0ff;  
        }
        p{
            @extend .block__1, p;
            color: #1e1c24;
            background: #e9f0ff;  
        }
    }
    .block__3{
        @extend .block__1;
        background: #ffe7aa;
        margin-top: 2rem;
        .block__3__img{
           @extend .block__1__img;
           background-image: url('../img/day77-pocket-knief.png');
        }
        h3{
            @extend .block__1, h3;
            color: #1e1c24;
            background: #ffe7aa; 
        }
        p{
            @extend .block__1, p;
            color: #1e1c24;
            background: #ffe7aa; 
        }
    }
}
.section-2{
    .section-2__h1{
        margin-top: 5rem;
    }
    img{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .section-2__centering{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-2__button{
        width: 170px;
        height: 50px;
        border-radius: 38.5px;
        background: #525ffb;
        margin-top: 1rem;
        span{
                font-family: Poppins;
                font-weight: 600;
                font-size: 15px;
                letter-spacing: 0.04em;
                line-height: 10px;
                text-align: center;
                color: #fff;
        }
        
    }
}
.section-3{
    .section-3__h1{
        margin-top: 5rem;
    }
    .section-3__ui__banner{
        position: relative;
        bottom: -30px;
    }
    .applications{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }
    .app-2{
        width: 100px;
        height: 100px;
        background-image: url('../img/Image 9.png');
        background-position: center;
        background-repeat: no-repeat;
    }
    .app-1{
        @extend .app-2;
        background-image: url('../img/Image 6.png');
    }
    .section-3__container__bigscreen__withH1{
        display: none;
    }
}
.section-4{
    position: relative;
    .section-4__h1{
        margin-top: 5rem;
    }
    .section-4__amount__of__users{
        height: 203px;
        font-family: Poppins;
        font-weight: normal;
        font-size: 80px;
        line-height: 60px;
        text-align: center;
        color: #525ffb;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-4__people__img{
        width: 100px;
        height: 100px;
        border-radius: 50px;
        background-image: url('../img/Group 228.png');
        background-position: center;
        position: absolute;
        display: none;

    }
}
